<a href="https://colab.research.google.com/github/perceptiveperceval/ML-project/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cloning respo.

In [5]:
!git clone https://github.com/perceptiveperceval/ML-project.git

Cloning into 'ML-project'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

Importing stuffs

In [7]:
import numpy as np
import pandas as pd
import math

Data Processing

In [16]:
original_data=pd.read_csv('/content/ML-project/WA_Fn-UseC_-Telco-Customer-Churn.csv')
data = original_data.copy(deep = True)

In [10]:
original_data.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [21]:
#Changes TotalCharges type
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')

#Make new feature Discount= MonthlyCharges*Tenure - TotalCharges
#Assume that the customer don't change up their service mid-tenure
data['Discount'] = (data['tenure'] * data['MonthlyCharges']) - data['TotalCharges']

#Changes to yes/no to binary; should be okay, maybe even redundant?
data['Churn'] = data['Churn'].replace("No", 0).replace("Yes", 1)
data['Partner'] = data['Partner'].replace("No", 0).replace("Yes", 1)
data['Dependents'] = data['Dependents'].replace("No", 0).replace("Yes", 1)
data['PhoneService'] = data['PhoneService'].replace("No", 0).replace("Yes", 1)
data['PaperlessBilling'] = data['PaperlessBilling'].replace("No", 0).replace("Yes", 1)

#Changes contract to linear
data['Contract'] = data['Contract'].replace("Month-to-month", 1).replace("One year", 12).replace("Two year", 12)

#Choose dummy for the non-binary / non-numeric column
dummy_cols = ['MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaymentMethod','gender']
data_test = pd.get_dummies(data, columns=dummy_cols)

#Drop faulty data
data_test = data_test.dropna()

#Drop customerID
data_test = data_test.drop(['customerID'],axis=1)

In [22]:
data_test.head()

   SeniorCitizen  Partner  ...  gender_0  gender_1
0              0        1  ...         1         0
1              0        0  ...         0         1
2              0        0  ...         0         1
3              0        0  ...         0         1
4              0        0  ...         1         0

[5 rows x 41 columns]

In [23]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 41 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SeniorCitizen                            7032 non-null   int64
 1   Partner                                  7032 non-null   int64
 2   Dependents                               7032 non-null   int64
 3   tenure                                   7032 non-null   int64
 4   PhoneService                             7032 non-null   int64
 5   Contract                                 7032 non-null   int64
 6   PaperlessBilling                         7032 non-null   int64
 7   MonthlyCharges                           7032 non-null   float64
 8   TotalCharges                             7032 non-null   float64
 9   Churn                                    7032 non-null   int64
 10  Discount                                 7032 non-null   float64
 11  MultipleLines_No                         7032 non-null   uint8
 12  MultipleLines_No phone service           7032 non-null   uint8
 13  MultipleLines_Yes                        7032 non-null   uint8
 14  InternetService_DSL                      7032 non-null   uint8
 15  InternetService_Fiber optic              7032 non-null   uint8
 16  InternetService_No                       7032 non-null   uint8
 17  OnlineSecurity_No                        7032 non-null   uint8
 18  OnlineSecurity_No internet service       7032 non-null   uint8
 19  OnlineSecurity_Yes                       7032 non-null   uint8
 20  OnlineBackup_No                          7032 non-null   uint8
 21  OnlineBackup_No internet service         7032 non-null   uint8
 22  OnlineBackup_Yes                         7032 non-null   uint8
 23  DeviceProtection_No                      7032 non-null   uint8
 24  DeviceProtection_No internet service     7032 non-null   uint8
 25  DeviceProtection_Yes                     7032 non-null   uint8
 26  TechSupport_No                           7032 non-null   uint8
 27  TechSupport_No internet service          7032 non-null   uint8
 28  TechSupport_Yes                          7032 non-null   uint8
 29  StreamingTV_No                           7032 non-null   uint8
 30  StreamingTV_No internet service          7032 non-null   uint8
 31  StreamingTV_Yes                          7032 non-null   uint8
 32  StreamingMovies_No                       7032 non-null   uint8
 33  StreamingMovies_No internet service      7032 non-null   uint8
 34  StreamingMovies_Yes                      7032 non-null   uint8
 35  PaymentMethod_Bank transfer (automatic)  7032 non-null   uint8
 36  PaymentMethod_Credit card (automatic)    7032 non-null   uint8
 37  PaymentMethod_Electronic check           7032 non-null   uint8
 38  PaymentMethod_Mailed check               7032 non-null   uint8
 39  gender_0                                 7032 non-null   uint8
 40  gender_1                                 7032 non-null   uint8
dtypes: float64(3), int64(8), uint8(30)
memory usage: 865.3 KB